<?xml version="1.0" encoding="UTF-8"?>
<settings>
  <main>
    <version>2.0</version>
    <first>false</first>
    <ip>192.168.1.14</ip>
    <port>8800</port>
    <user>nanab</user>
    <pass>Hus</pass>
    <title>Lightningz!</title>
    <tabtime>2</tabtime>
    <langfile>eng.xml</langfile>
    <autoup>false</autoup>
    <hidetab>false</hidetab>
    <hidetabbutton>true</hidetabbutton>
    <theme>ui-darkness</theme>
    <allmove>false</allmove>
    <moverespondpositionx>10</moverespondpositionx>
    <moverespondpositiony>10</moverespondpositiony>
    <refreshbutton>true</refreshbutton>
    <settingsbutton>true</settingsbutton>
    <settingsbuttonpositionx>794</settingsbuttonpositionx>
    <settingsbuttonpositiony>589</settingsbuttonpositiony>
    <refreshbuttonpositionx>868</refreshbuttonpositionx>
    <refreshbuttonpositiony>589</refreshbuttonpositiony>
  </main>
  <weather>
    <en>true</en>
    <url>http://www.yr.no/sted/Sverige/Blekinge/Ronneby/</url>
    <xmlfile>forecast.xml</xmlfile>
    <meteogram>avansert_meteogram.png</meteogram>
    <number>7</number>
    <positionx>11</positionx>
    <positiony>616</positiony>
    <iconsize>22</iconsize>
    <fontsize>12</fontsize>
    <transperant>0.8</transperant>
  </weather>
  <tabs>
    <numberoftabs>5</numberoftabs>
    <tab1>
      <id>1</id>
      <en>true</en>
      <name>Main Deck</name>
      <page>tab1.php</page>
      <bakpic>back.png</bakpic>
      <bakpicheight>650</bakpicheight>
      <bakpicwidth>924</bakpicwidth>
    </tab1>
    <tab2>
      <id>2</id>
      <en>true</en>
      <name>Top Deck</name>
      <page>tab2.php</page>
      <bakpic>top.png</bakpic>
      <bakpicheight>656</bakpicheight>
      <bakpicwidth>924</bakpicwidth>
    </tab2>
    <tab3>
      <id>3</id>
      <en>false</en>
      <name>Starta om mig!</name>
      <page>/server/testserv.php</page>
      <bakpic/>
      <bakpicheight>600</bakpicheight>
      <bakpicwidth>800</bakpicwidth>
    </tab3>
    <tab4>
      <id>4</id>
      <en>false</en>
      <name>Starta om mig!</name>
      <page>tab4.php</page>
      <bakpic/>
      <bakpicheight>656</bakpicheight>
      <bakpicwidth>924</bakpicwidth>
    </tab4>
    <tab5>
      <id>5</id>
      <en>false</en>
      <name>Inställningar</name>
      <page>/settings/settings_tabs.php</page>
      <bakpic/>
      <bakpicheight>800</bakpicheight>
      <bakpicwidth>700</bakpicwidth>
    </tab5>
  </tabs>
  <devices>
    <moveabledev>false</moveabledev>
    <numberofdevices>15</numberofdevices>
    <dev0>
      <ap>0</ap>
      <en>true</en>
      <id>3</id>
      <x>255</x>
      <y>220</y>
      <onscenariodriven>DeviceOn_Scenario.png</onscenariodriven>
      <offscenariodriven>DeviceOff_Scenario.png</offscenariodriven>
      <onscheduledriven>LampOn.png</onscheduledriven>
      <offscheduledriven>LampOff.png</offscheduledriven>
      <onsemiauto>DeviceOn_SemiAuto.png</onsemiauto>
      <offsemiauto>DeviceOff_SemiAuto.png</offsemiauto>
      <onscheduleandruledriven>DeviceOn_Rule.png</onscheduleandruledriven>
      <offscheduleandruledriven>DeviceOff_Rule.png</offscheduleandruledriven>
      <picsizeheight>40</picsizeheight>
      <picsizewidth>40</picsizewidth>
      <nameon>true</nameon>
      <tab>1</tab>
    </dev0>
    <dev1>
      <ap>1</ap>
      <en>true</en>
      <id/>
      <x>104</x>
      <y>272</y>
      <onscenariodriven>DeviceOn_Scenario.png</onscenariodriven>
      <offscenariodriven>DeviceOff_Scenario.png</offscenariodriven>
      <onscheduledriven>DeviceOn.png</onscheduledriven>
      <offscheduledriven>DeviceOff.png</offscheduledriven>
      <onsemiauto>DeviceOn_SemiAuto.png</onsemiauto>
      <offsemiauto>DeviceOff_SemiAuto.png</offsemiauto>
      <onscheduleandruledriven>DeviceOn_Rule.png</onscheduleandruledriven>
      <offscheduleandruledriven>DeviceOff_Rule.png</offscheduleandruledriven>
      <picsizewidth>40</picsizewidth>
      <picsizeheight>40</picsizeheight>
      <nameon>true</nameon>
      <tab>1</tab>
    </dev1>
    <dev2>
      <ap>2</ap>
      <en>true</en>
      <id/>
      <x>74</x>
      <y>172</y>
      <onscenariodriven>DeviceOn_Scenario.png</onscenariodriven>
      <offscenariodriven>DeviceOff_Scenario.png</offscenariodriven>
      <onscheduledriven>DeviceOn.png</onscheduledriven>
      <offscheduledriven>DeviceOff.png</offscheduledriven>
      <onsemiauto>DeviceOn_SemiAuto.png</onsemiauto>
      <offsemiauto>DeviceOff_SemiAuto.png</offsemiauto>
      <onscheduleandruledriven>DeviceOn_Rule.png</onscheduleandruledriven>
      <offscheduleandruledriven>DeviceOff_Rule.png</offscheduleandruledriven>
      <picsizewidth>40</picsizewidth>
      <picsizeheight>40</picsizeheight>
      <nameon>true</nameon>
      <tab>1</tab>
    </dev2>
    <dev3>
      <ap>3</ap>
      <en>true</en>
      <id/>
      <x>252</x>
      <y>130</y>
      <onscenariodriven>DeviceOn_Scenario.png</onscenariodriven>
      <offscenariodriven>DeviceOff_Scenario.png</offscenariodriven>
      <onscheduledriven>DeviceOn.png</onscheduledriven>
      <offscheduledriven>DeviceOff.png</offscheduledriven>
      <onsemiauto>DeviceOn_SemiAuto.png</onsemiauto>
      <offsemiauto>DeviceOff_SemiAuto.png</offsemiauto>
      <onscheduleandruledriven>DeviceOn_Rule.png</onscheduleandruledriven>
      <offscheduleandruledriven>DeviceOff_Rule.png</offscheduleandruledriven>
      <picsizewidth>40</picsizewidth>
      <picsizeheight>40</picsizeheight>
      <nameon>true</nameon>
      <tab>1</tab>
    </dev3>
    <dev4>
      <ap>4</ap>
      <en>true</en>
      <id/>
      <x>255</x>
      <y>66</y>
      <onscenariodriven>DeviceOn_Scenario.png</onscenariodriven>
      <offscenariodriven>DeviceOff_Scenario.png</offscenariodriven>
      <onscheduledriven>DeviceOn.png</onscheduledriven>
      <offscheduledriven>DeviceOff.png</offscheduledriven>
      <onsemiauto>DeviceOn_SemiAuto.png</onsemiauto>
      <offsemiauto>DeviceOff_SemiAuto.png</offsemiauto>
      <onscheduleandruledriven>DeviceOn_Rule.png</onscheduleandruledriven>
      <offscheduleandruledriven>DeviceOff_Rule.png</offscheduleandruledriven>
      <picsizewidth>40</picsizewidth>
      <picsizeheight>40</picsizeheight>
      <nameon>true</nameon>
      <tab>1</tab>
    </dev4>
    <dev5>
      <ap>5</ap>
      <en>true</en>
      <id/>
      <x>9</x>
      <y>280</y>
      <onscenariodriven>DeviceOn_Scenario.png</onscenariodriven>
      <offscenariodriven>DeviceOff_Scenario.png</offscenariodriven>
      <onscheduledriven>DeviceOn.png</onscheduledriven>
      <offscheduledriven>DeviceOff.png</offscheduledriven>
      <onsemiauto>DeviceOn_SemiAuto.png</onsemiauto>
      <offsemiauto>DeviceOff_SemiAuto.png</offsemiauto>
      <onscheduleandruledriven>DeviceOn_Rule.png</onscheduleandruledriven>
      <offscheduleandruledriven>DeviceOff_Rule.png</offscheduleandruledriven>
      <picsizewidth>40</picsizewidth>
      <picsizeheight>40</picsizeheight>
      <nameon>true</nameon>
      <tab>1</tab>
    </dev5>
    <dev6>
      <ap>6</ap>
      <en>true</en>
      <id>11</id>
      <x>100</x>
      <y>120</y>
      <onscenariodriven>DeviceOn_Scenario.png</onscenariodriven>
      <offscenariodriven>DeviceOff_Scenario.png</offscenariodriven>
      <onscheduledriven>DeviceOn.png</onscheduledriven>
      <offscheduledriven>DeviceOff.png</offscheduledriven>
      <onsemiauto>DeviceOn_SemiAuto.png</onsemiauto>
      <offsemiauto>DeviceOff_SemiAuto.png</offsemiauto>
      <onscheduleandruledriven>DeviceOn_Rule.png</onscheduleandruledriven>
      <offscheduleandruledriven>DeviceOff_Rule.png</offscheduleandruledriven>
      <picsizewidth>40</picsizewidth>
      <picsizeheight>40</picsizeheight>
      <nameon>true</nameon>
      <tab>2</tab>
    </dev6>
    <dev7>
      <ap>7</ap>
      <en>true</en>
      <id/>
      <x>273</x>
      <y>519</y>
      <onscenariodriven>DeviceOn_Scenario.png</onscenariodriven>
      <offscenariodriven>DeviceOff_Scenario.png</offscenariodriven>
      <onscheduledriven>DeviceOn.png</onscheduledriven>
      <offscheduledriven>DeviceOff.png</offscheduledriven>
      <onsemiauto>DeviceOn_SemiAuto.png</onsemiauto>
      <offsemiauto>DeviceOff_SemiAuto.png</offsemiauto>
      <onscheduleandruledriven>DeviceOn_Rule.png</onscheduleandruledriven>
      <offscheduleandruledriven>DeviceOff_Rule.png</offscheduleandruledriven>
      <picsizewidth>40</picsizewidth>
      <picsizeheight>40</picsizeheight>
      <nameon>true</nameon>
      <tab>1</tab>
    </dev7>
    <dev8>
      <ap>8</ap>
      <en>true</en>
      <id/>
      <x>135</x>
      <y>438</y>
      <onscenariodriven>DeviceOn_Scenario.png</onscenariodriven>
      <offscenariodriven>DeviceOff_Scenario.png</offscenariodriven>
      <onscheduledriven>DeviceOn.png</onscheduledriven>
      <offscheduledriven>DeviceOff.png</offscheduledriven>
      <onsemiauto>DeviceOn_SemiAuto.png</onsemiauto>
      <offsemiauto>DeviceOff_SemiAuto.png</offsemiauto>
      <onscheduleandruledriven>DeviceOn_Rule.png</onscheduleandruledriven>
      <offscheduleandruledriven>DeviceOff_Rule.png</offscheduleandruledriven>
      <picsizewidth>40</picsizewidth>
      <picsizeheight>40</picsizeheight>
      <nameon>true</nameon>
      <tab>1</tab>
    </dev8>
    <dev9>
      <ap>9</ap>
      <en>true</en>
      <id/>
      <x>288</x>
      <y>200</y>
      <onscenariodriven>DeviceOn_Scenario.png</onscenariodriven>
      <offscenariodriven>DeviceOff_Scenario.png</offscenariodriven>
      <onscheduledriven>DeviceOn.png</onscheduledriven>
      <offscheduledriven>DeviceOff.png</offscheduledriven>
      <onsemiauto>DeviceOn_SemiAuto.png</onsemiauto>
      <offsemiauto>DeviceOff_SemiAuto.png</offsemiauto>
      <onscheduleandruledriven>DeviceOn_Rule.png</onscheduleandruledriven>
      <offscheduleandruledriven>DeviceOff_Rule.png</offscheduleandruledriven>
      <picsizewidth>40</picsizewidth>
      <picsizeheight>40</picsizeheight>
      <nameon>true</nameon>
      <tab>1</tab>
    </dev9>
    <dev10>
      <ap>10</ap>
      <en>true</en>
      <id/>
      <x>569</x>
      <y>352</y>
      <onscenariodriven>DeviceOn_Scenario.png</onscenariodriven>
      <offscenariodriven>DeviceOff_Scenario.png</offscenariodriven>
      <onscheduledriven>DeviceOn.png</onscheduledriven>
      <offscheduledriven>DeviceOff.png</offscheduledriven>
      <onsemiauto>DeviceOn_SemiAuto.png</onsemiauto>
      <offsemiauto>DeviceOff_SemiAuto.png</offsemiauto>
      <onscheduleandruledriven>DeviceOn_Rule.png</onscheduleandruledriven>
      <offscheduleandruledriven>DeviceOff_Rule.png</offscheduleandruledriven>
      <picsizewidth>40</picsizewidth>
      <picsizeheight>40</picsizeheight>
      <nameon>true</nameon>
      <tab>1</tab>
    </dev10>
    <dev11>
      <ap>11</ap>
      <en>true</en>
      <id/>
      <x>499</x>
      <y>469</y>
      <onscenariodriven>DeviceOn_Scenario.png</onscenariodriven>
      <offscenariodriven>DeviceOff_Scenario.png</offscenariodriven>
      <onscheduledriven>DeviceOn.png</onscheduledriven>
      <offscheduledriven>DeviceOff.png</offscheduledriven>
      <onsemiauto>DeviceOn_SemiAuto.png</onsemiauto>
      <offsemiauto>DeviceOff_SemiAuto.png</offsemiauto>
      <onscheduleandruledriven>DeviceOn_Rule.png</onscheduleandruledriven>
      <offscheduleandruledriven>DeviceOff_Rule.png</offscheduleandruledriven>
      <picsizewidth>40</picsizewidth>
      <picsizeheight>40</picsizeheight>
      <nameon>true</nameon>
      <tab>1</tab>
    </dev11>
    <dev12>
      <ap>12</ap>
      <en>false</en>
      <id/>
      <x>100</x>
      <y>120</y>
      <onscenariodriven>DeviceOn_Scenario.png</onscenariodriven>
      <offscenariodriven>DeviceOff_Scenario.png</offscenariodriven>
      <onscheduledriven>DeviceOn.png</onscheduledriven>
      <offscheduledriven>DeviceOff.png</offscheduledriven>
      <onsemiauto>DeviceOn_SemiAuto.png</onsemiauto>
      <offsemiauto>DeviceOff_SemiAuto.png</offsemiauto>
      <onscheduleandruledriven>DeviceOn_Rule.png</onscheduleandruledriven>
      <offscheduleandruledriven>DeviceOff_Rule.png</offscheduleandruledriven>
      <picsizewidth>40</picsizewidth>
      <picsizeheight>40</picsizeheight>
      <nameon>true</nameon>
      <tab>1</tab>
    </dev12>
    <dev13>
      <ap>13</ap>
      <en>false</en>
      <id/>
      <x>100</x>
      <y>120</y>
      <onscenariodriven>DeviceOn_Scenario.png</onscenariodriven>
      <offscenariodriven>DeviceOff_Scenario.png</offscenariodriven>
      <onscheduledriven>DeviceOn.png</onscheduledriven>
      <offscheduledriven>DeviceOff.png</offscheduledriven>
      <onsemiauto>DeviceOn_SemiAuto.png</onsemiauto>
      <offsemiauto>DeviceOff_SemiAuto.png</offsemiauto>
      <onscheduleandruledriven>DeviceOn_Rule.png</onscheduleandruledriven>
      <offscheduleandruledriven>DeviceOff_Rule.png</offscheduleandruledriven>
      <picsizewidth>40</picsizewidth>
      <picsizeheight>40</picsizeheight>
      <nameon>true</nameon>
      <tab>1</tab>
    </dev13>
    <dev14>
      <ap>14</ap>
      <en>false</en>
      <id></id>
      <x>100</x>
      <y>120</y>
      <onscenariodriven>DeviceOn_Scenario.png</onscenariodriven>
      <offscenariodriven>DeviceOff_Scenario.png</offscenariodriven>
      <onscheduledriven>DeviceOn.png</onscheduledriven>
      <offscheduledriven>DeviceOff.png</offscheduledriven>
      <onsemiauto>DeviceOn_SemiAuto.png</onsemiauto>
      <offsemiauto>DeviceOff_SemiAuto.png</offsemiauto>
      <onscheduleandruledriven>DeviceOn_Rule.png</onscheduleandruledriven>
      <offscheduleandruledriven>DeviceOff_Rule.png</offscheduleandruledriven>
      <picsizewidth>40</picsizewidth>
      <picsizeheight>40</picsizeheight>
      <nameon>true</nameon>
      <tab>1</tab>
    </dev14>
  </devices>
  <datasources>
    <moveableds>false</moveableds>
    <numberofds>2</numberofds>
    <ds0>
      <ap>0</ap>
      <en>true</en>
      <id>3</id>
      <fa/>
      <tab>1</tab>
      <nameon>true</nameon>
      <x>498</x>
      <y>9</y>
      <sizex>500</sizex>
      <sizey>500</sizey>
      <minute>1440</minute>
    </ds0>
    <ds1>
      <ap>1</ap>
      <en>true</en>
      <id/>
      <fa>°C</fa>
      <x>630</x>
      <y>2</y>
      <nameon>true</nameon>
      <tab>1</tab>
      <sizex>500</sizex>
      <sizey>500</sizey>
      <minute>1440</minute>
    </ds1>
  </datasources>
  <systemmodes>
    <moveablesm>false</moveablesm>
    <numberofsm>3</numberofsm>
    <sm0>
      <ap>0</ap>
      <en>true</en>
      <id>2</id>
      <on>Borta_On.png</on>
      <off>Borta_Off.png</off>
      <x>864</x>
      <y>173</y>
      <tab>1</tab>
    </sm0>
    <sm1>
      <ap>1</ap>
      <en>false</en>
      <id/>
      <x>50</x>
      <y>50</y>
      <on>Hemma_On.png</on>
      <off>Hemma_Off.png</off>
      <tab>1</tab>
    </sm1>
    <sm2>
      <ap>2</ap>
      <en>true</en>
      <id/>
      <x>864</x>
      <y>261</y>
      <on>Hemma_On.png</on>
      <off>Hemma_Off.png</off>
      <tab>1</tab>
    </sm2>
  </systemmodes>
  <scenarios>
    <moveablesc>false</moveablesc>
    <en>true</en>
    <x>0</x>
    <y>514</y>
    <backcolor>black</backcolor>
    <fontsize>12</fontsize>
    <hideable>true</hideable>
  </scenarios>
  <devicegroups>
    <moveabledg>false</moveabledg>
    <en>true</en>
    <x>706</x>
    <y>1</y>
  </devicegroups>
  <advanced>
    <imagepath>/images/</imagepath>
    <funcsysm>systemmodes</funcsysm>
    <funcdev>devices</funcdev>
    <funcds>datasources</funcds>
  </advanced>
</settings>
