<?xml version="1.0" encoding="UTF-8"?>
<settings>
  <main>
    <version>2.0</version>
    <first>false</first>
    <ip>192.168.1.14</ip>
    <port>8800</port>
    <user>nanab</user>
    <pass>Hus</pass>
    <title>Lightningz!</title>
    <tabtime>2</tabtime>
    <langfile>eng.xml</langfile>
    <autoup>false</autoup>
    <hidetab>false</hidetab>
    <hidetabbutton>true</hidetabbutton>
    <theme>ui-darkness</theme>
    <allmove>false</allmove>
    <moverespondpositionx>10</moverespondpositionx>
    <moverespondpositiony>10</moverespondpositiony>
    <refreshbutton>true</refreshbutton>
    <settingsbutton>true</settingsbutton>
    <settingsbuttonpositionx>794</settingsbuttonpositionx>
    <settingsbuttonpositiony>589</settingsbuttonpositiony>
    <refreshbuttonpositionx>868</refreshbuttonpositionx>
    <refreshbuttonpositiony>589</refreshbuttonpositiony>
  </main>
  <weather>
    <en>true</en>
    <url>http://www.yr.no/sted/Sverige/Blekinge/Ronneby/</url>
    <xmlfile>forecast.xml</xmlfile>
    <meteogram>avansert_meteogram.png</meteogram>
    <number>7</number>
    <positionx>11</positionx>
    <positiony>616</positiony>
    <iconsize>22</iconsize>
    <fontsize>12</fontsize>
    <transperant>0.8</transperant>
  </weather>
  <tabs>
    <numberoftabs>5</numberoftabs>
    <tab1>
      <id>1</id>
      <en>true</en>
      <name>Main Deck</name>
      <page>tab1.php</page>
      <bakpic>back.png</bakpic>
      <bakpicheight>650</bakpicheight>
      <bakpicwidth>924</bakpicwidth>
    </tab1>
    <tab2>
      <id>2</id>
      <en>true</en>
      <name>Top Deck</name>
      <page>tab2.php</page>
      <bakpic>top.png</bakpic>
      <bakpicheight>656</bakpicheight>
      <bakpicwidth>924</bakpicwidth>
    </tab2>
    <tab3>
      <id>3</id>
      <en>false</en>
      <name>Starta om mig!</name>
      <page>/server/testserv.php</page>
      <bakpic/>
      <bakpicheight>600</bakpicheight>
      <bakpicwidth>800</bakpicwidth>
    </tab3>
    <tab4>
      <id>4</id>
      <en>false</en>
      <name>Starta om mig!</name>
      <page>tab4.php</page>
      <bakpic/>
      <bakpicheight>656</bakpicheight>
      <bakpicwidth>924</bakpicwidth>
    </tab4>
    <tab5>
      <id>5</id>
      <en>false</en>
      <name>Inställningar</name>
      <page>/settings/settings_tabs.php</page>
      <bakpic/>
      <bakpicheight>800</bakpicheight>
      <bakpicwidth>700</bakpicwidth>
    </tab5>
  </tabs>
  <devices>
    <moveabledev>false</moveabledev>
    <numberofdevices>1</numberofdevices>
    <dev0>
      <ap>0</ap>
      <en>true</en>
      <id>3</id>
      <x>255</x>
      <y>220</y>
      <onscenariodriven>DeviceOn_Scenario.png</onscenariodriven>
      <offscenariodriven>DeviceOff_Scenario.png</offscenariodriven>
      <onscheduledriven>LampOn.png</onscheduledriven>
      <offscheduledriven>LampOff.png</offscheduledriven>
      <onsemiauto>DeviceOn_SemiAuto.png</onsemiauto>
      <offsemiauto>DeviceOff_SemiAuto.png</offsemiauto>
      <onscheduleandruledriven>DeviceOn_Rule.png</onscheduleandruledriven>
      <offscheduleandruledriven>DeviceOff_Rule.png</offscheduleandruledriven>
      <picsizeheight>40</picsizeheight>
      <picsizewidth>40</picsizewidth>
      <nameon>true</nameon>
      <tab>1</tab>
    </dev0>
  </devices>
  <datasources>
    <moveableds>false</moveableds>
    <numberofds>1</numberofds>
    <ds0>
      <ap>0</ap>
      <en>true</en>
      <id>3</id>
      <fa/>
      <tab>1</tab>
      <nameon>true</nameon>
      <x>498</x>
      <y>9</y>
      <sizex>500</sizex>
      <sizey>500</sizey>
      <minute>1440</minute>
    </ds0>
  </datasources>
  <systemmodes>
    <moveablesm>false</moveablesm>
    <numberofsm>1</numberofsm>
    <sm0>
      <ap>0</ap>
      <en>true</en>
      <id>2</id>
      <on>Borta_On.png</on>
      <off>Borta_Off.png</off>
      <x>864</x>
      <y>173</y>
      <tab>1</tab>
    </sm0>
  </systemmodes>
  <scenarios>
    <moveablesc>false</moveablesc>
    <en>true</en>
    <x>0</x>
    <y>514</y>
    <backcolor>black</backcolor>
    <fontsize>12</fontsize>
    <hideable>true</hideable>
  </scenarios>
  <devicegroups>
    <moveabledg>false</moveabledg>
    <en>true</en>
    <x>706</x>
    <y>1</y>
  </devicegroups>
  <advanced>
    <imagepath>/images/</imagepath>
    <funcsysm>systemmodes</funcsysm>
    <funcdev>devices</funcdev>
    <funcds>datasources</funcds>
  </advanced>
</settings>
